<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <alert></alert>
                <section class="panel">
                    <header class="panel-heading">
                        <span ng-hide="shop.id">Добавить магазин</span>
                        <span ng-show="shop.id">Редактировать магазин</span>
                    </header>
                    <div class="panel-body">
                        <div ng-hide="shop" class="wait-32"></div>
                        <div class="form">
                            <form class="cmxform form-horizontal" ng-submit="save()" name="form" novalidate>
                                <div class="form-group">
                                    <label for="shop-city" class="control-label col-lg-3">Город *</label>
                                    <div class="col-lg-4">
                                        <select class="form-control"
                                                name="city" 
                                                ng-model="shop.city_id"
                                                ng-options="city.id as city.title for city in cities"
                                                required>
                                            <option value="">Выберите город</option>
                                        </select>
                                        <div ng-show="form.city.$dirty && form.city.$invalid">
                                            <label ng-show="form.city.$error.required" for="shop-city" class="error">Укажите город</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="shop-site" class="control-label col-lg-3">Сайт *</label>
                                    <div class="col-lg-4">
                                        <select class="form-control"
                                                name="site" 
                                                ng-model="shop.site_id"
                                                ng-options="site.id as site.title for site in sites"
                                                required>
                                            <option value="">Выберите сайт</option>
                                        </select>
                                        <div ng-show="form.site.$dirty && form.site.$invalid">
                                            <label ng-show="form.site.$error.required" for="shop-site" class="error">Укажите сайт</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="shop-title" class="control-label col-lg-3">Название магазина *</label>
                                    <div class="col-lg-6">
                                        <input ng-model="shop.title" class="form-control" name="title" id="shop-title" required>
                                        <div ng-show="form.title.$dirty && form.title.$invalid">
                                            <label ng-show="form.title.$error.required" for="shop-title" class="error">Введите название магазина</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="shop-address" class="control-label col-lg-3">Адрес магазина *</label>
                                    <div class="col-lg-6">
                                        <input ng-model="shop.address" class="form-control" name="address" id="shop-address" required>
                                        <div ng-show="form.address.$dirty && form.address.$invalid">
                                            <label ng-show="form.address.$error.required" for="shop-address" class="error">Введите адрес магазина</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="shop-longitude" class="control-label col-lg-3">Долгота *</label>
                                    <div class="col-lg-2">
                                        <input ng-model="shop.longitude" class="form-control" name="longitude" id="shop-longitude" required>
                                        <div ng-show="form.longitude.$dirty && form.longitude.$invalid">
                                            <label ng-show="form.longitude.$error.required" for="shop-longitude" class="error">Введите долготу магазина</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="shop-latitude" class="control-label col-lg-3">Широта *</label>
                                    <div class="col-lg-2">
                                        <input ng-model="shop.latitude" class="form-control" name="latitude" id="shop-latitude" required>
                                        <div ng-show="form.latitude.$dirty && form.latitude.$invalid">
                                            <label ng-show="form.latitude.$error.required" for="shop-latitude" class="error">Введите широту магазина</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="shop-description" class="control-label col-lg-3">Описание магазина</label>
                                    <div class="col-lg-6">
                                        <textarea ng-model="shop.description" class="form-control" rows="6"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <button ng-hide="shop.id" ng-disabled="form.$invalid" class="btn btn-primary" type="submit">Добавить</button>
                                        <button ng-show="shop.id" ng-disabled="form.$invalid" class="btn btn-primary" type="submit">Сохранить</button>
                                        <a href="#/shops" class="btn btn-default">Отмена</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>