<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <alert></alert>
                <section class="panel">
                    <header class="panel-heading">
                        <div class="row">
                            <div class="col-sm-3">
                                <select class="form-control"
                                        ng-model="filter.region"
                                        ng-options="region.title for region in regions">
                                    <option value="">Выберите регион</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control"
                                        ng-model="filter.city"
                                        ng-options="city.title for city in cities | filter:{region_id:filter.region.id}">
                                    <option value="">Выберите город</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control"
                                        ng-model="filter.site"
                                        ng-options="site.title for site in sites | filter:{region_id:filter.region.id} | filter:{city_id:filter.city.id}">
                                    <option value="">Выберите сайт</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <a href="#/shops/create" class="btn btn-primary btn-block">
                                    <i class="fa fa-plus"></i>
                                    Добавить магазин
                                </a>
                            </div>
                        </div>
                    </header>
                    <div class="panel-body">
                        <div ng-hide="shops" class="wait-32"></div>
                        <table ng-show="shops" class="table table-hover general-table shops-container">
                            <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Адрес</th>
                                    <th>Создан</th>
                                    <th>Обновлен</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="shop in shops | filter:{region_id:filter.region.id} | filter:{city_id:filter.city.id} | filter:{site_id:filter.site.id} track by shop.id" ng-class="{'alert-danger':shop.deleted_at}">
                                    <td>{{ shop.title }}</td>
                                    <td>{{ shop.address }}</td>
                                    <td>{{ shop.created_at | fromNow }}</td>
                                    <td>{{ shop.updated_at | fromNow }}</td>
                                    <td>
                                        <div class="btn-group" ng-hide="shop.deleted_at">
                                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                                                <i class="fa fa-cog"></i>
                                                Действия
                                                <span class="caret"></span>
                                            </button>
                                            <ul role="menu" class="dropdown-menu">
                                                <li>
                                                    <a href="#/shops/{{ shop.id }}/edit">
                                                        <i class="fa fa-pencil"></i>
                                                        Редактировать
                                                    </a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                   <a ng-click="remove(shop)" href="javascript:;">
                                                        <i class="fa fa-trash-o"></i>
                                                        Удалить
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button ng-show="shop.deleted_at" ng-click="restore(shop)" type="button" class="btn btn-danger">
                                            <i class="fa fa-reply"></i>
                                            Восстановить
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>