<div ng-show="alert.status" class="alert alert-{{ alert.status }} fade in">
    <button data-dismiss="alert" class="close close-sm" type="button">
        <i class="fa fa-times"></i>
    </button>
    {{ alert.message }}
</div>