<div ng-repeat="notification in notifications" class="alert alert-{{ notification.status }} fade in" ng-animate="'animate'">
    <button data-dismiss="alert" class="close close-sm" type="button">
        <i class="fa fa-times"></i>
    </button>
    <span class="alert-icon" ng-switch on="notification.status">
    	<i ng-switch-when="danger" class="fa fa-bolt"></i>
    	<i ng-switch-when="warning" class="fa fa-bolt"></i>
    	<i ng-switch-when="info" class="fa fa-info"></i>
    	<i ng-switch-when="success" class="fa fa-check"></i>
    </span>
    {{ notification.message }}
</div>