<!--sidebar start-->
<aside ng-controller="SidebarLeftController">
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="#/" ng-class="{ active: isActive(['/'])}">
                        <i class="fa fa-dashboard"></i>
                        <span>Панель управления</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="#/sites" ng-class="{ active: isActive(['/regions', '/cities', '/sites', '/shops', '/regions/create'])}">
                        &nbsp;<i class="fa fa-map-marker"></i>&nbsp;
                        <span>Региональные подразделения</span>
                    </a>
                    <ul class="sub" ng-show="isActive(['/regions', '/cities', '/sites', '/shops', '/regions/create'])">
                        <li ng-class="{ active: isActive(['/regions'])}"><a href="#/regions">Регионы</a></li>
                        <li ng-class="{ active: isActive(['/cities'])}"><a href="#/cities">Города</a></li>
                        <li ng-class="{ active: isActive(['/sites'])}"><a href="#/sites">Сайты</a></li>
                        <li ng-class="{ active: isActive(['/shops'])}"><a href="#/shops">Магазины</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#/users" ng-class="{ active: isActive(['/users'])}">
                        <i class="fa fa-users"></i>
                        <span>Пользователи</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->