<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <alert></alert>
                <section class="panel">
                    <header class="panel-heading">
                        <div class="row">
                            <div class="col-sm-3">
                                <select class="form-control"
                                        ng-model="filter.role"
                                        ng-options="role.title for role in roles">
                                    <option value="">Тип пользователя</option>
                                </select>
                            </div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                                <!--a href="#/users/create" class="btn btn-primary btn-block">
                                    <i class="fa fa-plus"></i>
                                    Добавить пользователя
                                </a-->
                            </div>
                        </div>
                    </header>
                    <div class="panel-body">
                        <div ng-hide="users.length" class="wait-32"></div>
                        <table ng-show="users.length" class="table table-hover general-table">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Имя</th>
                                    <th>Фамилия</th>
                                    <th>Зарегистрирован</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in users | filter:{role_id:filter.role.id} track by user.id" ng-class="{'alert-danger':user.deleted_at}">
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.surname }}</td>
                                    <td>{{ user.created_at | fromNow }}</td>
                                    <td ng-show="user.id == currentUser.id">
                                        Это вы
                                    </td>
                                    <td ng-hide="user.id == currentUser.id">
                                        <div class="btn-group" ng-hide="user.deleted_at">
                                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                                                <i class="fa fa-cog"></i>
                                                Действия
                                                <span class="caret"></span>
                                            </button>
                                            <ul role="menu" class="dropdown-menu">
                                                <li>
                                                    <a href="#/users/{{ user.id }}/edit">
                                                        <i class="fa fa-pencil"></i>
                                                        Редактировать
                                                    </a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                   <a ng-click="remove(user)" href="javascript:;">
                                                        <i class="fa fa-trash-o"></i>
                                                        Удалить
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button ng-show="user.deleted_at" ng-click="restore(user)" type="button" class="btn btn-danger">
                                            <i class="fa fa-reply"></i>
                                            Восстановить
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>