<div class="login-body">
  <div class="container">

    <form class="form-signin" ng-submit="login()" name="form">
      <h2 class="form-signin-heading">Панель управления</h2>
      <div class="login-wrap">
          <div class="user-login-info">
              <input type="email" class="form-control" placeholder="Email" ng-model="credentials.email" id="login-email" name="email" required autofocus>
              <input type="password" class="form-control" placeholder="Пароль" ng-model="credentials.password" ng-required="true" name="password">
          </div>
          <label class="checkbox">
              <input type="checkbox" value="remember-me"> Запомнить меня
              <span class="pull-right">
                  <a data-toggle="modal" href="javascript:;"> Забыли пароль?</a>
              </span>
          </label>
          <button ng-disabled="form.$invalid" class="btn btn-lg btn-login btn-block" type="submit">Войти</button>
      </div>
    </form>

  </div>
</div>