<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <alert></alert>
                <section class="panel">
                    <header class="panel-heading">
                        Редактировать профиль
                    </header>
                    <div class="panel-body">
                        <div class="form">
                            <form class="cmxform form-horizontal" ng-submit="save()" name="form" novalidate>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Полномочия вашей учетной записи</label>
                                    <div class="col-lg-9">
                                        <p class="form-control-static"><strong>{{ user.role.title }}</strong>. {{ user.role.description }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="profile-email" class="control-label col-lg-3">Email *</label>
                                    <div class="col-lg-3">
                                        <input type="email" ng-model="user.email" class="form-control" name="email" id="profile-email" required server-error>
                                        <div ng-show="form.email.$dirty && form.email.$invalid">
                                            <label ng-show="form.email.$error.required" for="profile-email" class="error">Введите свой адрес электронной почты</label>
                                            <label ng-show="form.email.$error.email" for="profile-email" class="error">Введите корректный адрес электронной почты</label>
                                            <label ng-show="form.email.$error.server" for="profile-email" class="error">{{ form.email.$error.server }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="profile-first-name" class="control-label col-lg-3">Имя *</label>
                                    <div class="col-lg-3">
                                        <input type="text" ng-model="user.first_name" class="form-control" name="first_name" id="profile-first-name" required server-error>
                                        <div ng-show="form.first_name.$dirty && form.first_name.$invalid">
                                            <label ng-show="form.first_name.$error.required" for="profile-first-name" class="error">Введите своё имя</label>
                                            <label ng-show="form.first_name.$error.server" for="profile-first-name" class="error">{{ form.first_name.$error.server }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="profile-last-name" class="control-label col-lg-3">Отчество</label>
                                    <div class="col-lg-3">
                                        <input type="text" ng-model="user.last_name" class="form-control" name="last_name" id="profile-last-name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="profile-surname" class="control-label col-lg-3">Фамилия *</label>
                                    <div class="col-lg-4">
                                        <input type="text" ng-model="user.surname" class="form-control" name="surname" id="profile-surname" required>
                                        <div ng-show="form.surname.$dirty && form.surname.$invalid">
                                            <label ng-show="form.surname.$error.required" for="profile-surname" class="error">Введите свою фамилию</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="profile-phone" class="control-label col-lg-3">Телефон</label>
                                    <div class="col-lg-2">
                                        <input type="text" ng-model="user.phone" class="form-control" name="phone" id="profile-phone">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="profile-birthday" class="control-label col-lg-3">Дата рождения</label>
                                    <div class="col-lg-2">
                                        <input type="date" ng-model="user.birthday" min="1920-01-01" max="2010-01-01" class="form-control" name="birthday" id="profile-birthday">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <button ng-disabled="form.$invalid" class="btn btn-primary" type="submit">Сохранить изменения</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>

                <section class="panel">
                    <header class="panel-heading">
                        Изменить пароль
                    </header>
                    <div class="panel-body">
                        <div class="form">
                            <form class="cmxform form-horizontal" ng-submit="changePassword()" name="formPassword" novalidate>
                                <div class="form-group">
                                    <label for="profile-old-password" class="control-label col-lg-3">Старый пароль *</label>
                                    <div class="col-lg-3">
                                        <input type="password" ng-model="passwords.old_password" class="form-control" name="old_password" id="profile-old-password" ng-minlength="6" ng-maxlength="16" required server-error>
                                        <div ng-show="formPassword.old_password.$dirty && formPassword.old_password.$invalid">
                                            <label ng-show="formPassword.old_password.$error.required" for="profile-old-password" class="error">Введите свой старый пароль</label>
                                            <label ng-show="formPassword.old_password.$error.minlength" for="profile-old-password" class="error">Пароль должен быть длиннее 6 символов</label>
                                            <label ng-show="formPassword.old_password.$error.maxlength" for="profile-old-password" class="error">Пароль должен быть короче 16 символов</label>
                                            <label ng-show="formPassword.old_password.$error.server" for="profile-old-password" class="error">{{ formPassword.old_password.$error.server }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="profile-new-password" class="control-label col-lg-3">Новый пароль *</label>
                                    <div class="col-lg-3">
                                        <input type="password" ng-model="passwords.password" class="form-control" name="password" id="profile-new-password" ng-minlength="6" ng-maxlength="16" required server-error>
                                        <div ng-show="formPassword.password.$dirty && formPassword.password.$invalid">
                                            <label ng-show="formPassword.password.$error.required" for="profile-new-password" class="error">Введите новый пароль</label>
                                            <label ng-show="formPassword.password.$error.minlength" for="profile-old-password" class="error">Пароль должен быть длиннее 6 символов</label>
                                            <label ng-show="formPassword.password.$error.maxlength" for="profile-old-password" class="error">Пароль должен быть короче 16 символов</label>
                                            <label ng-show="formPassword.password.$error.server" for="profile-new-password" class="error">{{ formPassword.password.$error.server }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="profile-confirm-password" class="control-label col-lg-3">Повторите пароль *</label>
                                    <div class="col-lg-3">
                                        <input type="password" ng-model="passwords.password_confirmation" ng-change="confirmPassword()" class="form-control" name="password_confirmation" id="profile-confirm-password" required server-error>
                                        <div ng-show="formPassword.password_confirmation.$dirty && formPassword.password_confirmation.$invalid">
                                            <label ng-show="formPassword.password_confirmation.$error.required" for="profile-confirm-password" class="error">Повторите новый пароль</label>
                                            <label ng-show="formPassword.password_confirmation.$error.confirmation" for="profile-confirm-password" class="error">Пароли не совпадают</label>
                                            <label ng-show="formPassword.password_confirmation.$error.server" for="profile-confirm-password" class="error">{{ formPassword.password_confirmation.$error.server }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <button ng-disabled="formPassword.$invalid" class="btn btn-primary" type="submit">Изменить пароль</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>