<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <alert></alert>
                <section class="panel">
                    <header class="panel-heading">
                        Мои настройки
                    </header>
                    <div class="panel-body">
                        <button ng-click="exit()" class="btn btn-warning">
                            <i class="fa fa-lock"></i>
                            Выйти на всех устройствах
                        </button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>