<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Мир Рамок. Управление системой</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/app.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="worldCmsApp" ng-controller="ApplicationController">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-if="showPartials" ng-include src="'views/partials/header.html'"></div>
    <div ng-if="showPartials" ng-include src="'views/partials/sidebar-left.html'"></div>
    <div ng-view=""></div>
    <div ng-if="showPartials" ng-include src="'views/partials/sidebar-right.html'"></div>
    <notifications class="notifications"></notifications>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <!--script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script-->

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/moment/lang/ru.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/sidebar-left.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/regions.js"></script>
    <script src="scripts/controllers/cities.js"></script>
    <script src="scripts/controllers/sites.js"></script>
    <script src="scripts/controllers/shops.js"></script>
    <script src="scripts/services/shop.js"></script>
    <script src="scripts/services/site.js"></script>
    <script src="scripts/services/city.js"></script>
    <script src="scripts/services/region.js"></script>
    <script src="scripts/controllers/region.js"></script>
    <script src="scripts/directives/alert.js"></script>
    <script src="scripts/controllers/city.js"></script>
    <script src="scripts/controllers/site.js"></script>
    <script src="scripts/controllers/shop.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/services/auth.js"></script>
    <script src="scripts/controllers/application.js"></script>
    <script src="scripts/directives/notifications.js"></script>
    <script src="scripts/controllers/profile.js"></script>
    <script src="scripts/controllers/settings.js"></script>
    <script src="scripts/directives/servererror.js"></script>
    <script src="scripts/filters/fromnow.js"></script>
    <script src="scripts/controllers/users.js"></script>
    <script src="scripts/services/user.js"></script>
    <script src="scripts/services/role.js"></script>
    <!-- endbuild -->
</body>
</html>
