<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <alert></alert>
                <section class="panel">
                    <header class="panel-heading">
                        <span ng-hide="city.id">Добавить город</span>
                        <span ng-show="city.id">Редактировать город</span>
                    </header>
                    <div class="panel-body">
                        <div ng-hide="city" class="wait-32"></div>
                        <div class="form">
                            <form class="cmxform form-horizontal" ng-submit="save()" name="form" novalidate>
                                <div class="form-group">
                                    <label for="city-region" class="control-label col-lg-3">Регион *</label>
                                    <div class="col-lg-4">
                                        <select class="form-control"
                                                ng-model="city.region_id"
                                                ng-options="region.id as region.title for region in regions"
                                                required>
                                            <option value="">Выберите регион</option>
                                        </select>
                                        <div ng-show="form.region.$dirty && form.region.$invalid">
                                            <label ng-show="form.region.$error.required" for="city-region" class="error">Укажите регион</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="city-title" class="control-label col-lg-3">Название города *</label>
                                    <div class="col-lg-4">
                                        <input ng-model="city.title" class="form-control" name="title" id="city-title" required>
                                        <div ng-show="form.title.$dirty && form.title.$invalid">
                                            <label ng-show="form.title.$error.required" for="city-title" class="error">Введите название города</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="city-longitude" class="control-label col-lg-3">Долгота *</label>
                                    <div class="col-lg-2">
                                        <input ng-model="city.longitude" class="form-control" name="longitude" id="city-longitude" required>
                                        <div ng-show="form.longitude.$dirty && form.longitude.$invalid">
                                            <label ng-show="form.longitude.$error.required" for="city-longitude" class="error">Введите долготу города</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="city-latitude" class="control-label col-lg-3">Широта *</label>
                                    <div class="col-lg-2">
                                        <input ng-model="city.latitude" class="form-control" name="latitude" id="city-latitude" required>
                                        <div ng-show="form.latitude.$dirty && form.latitude.$invalid">
                                            <label ng-show="form.latitude.$error.required" for="city-latitude" class="error">Введите широту города</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <button ng-hide="city.id" ng-disabled="form.$invalid" class="btn btn-primary" type="submit">Добавить</button>
                                        <button ng-show="city.id" ng-disabled="form.$invalid" class="btn btn-primary" type="submit">Сохранить</button>
                                        <a href="#/cities" class="btn btn-default">Отмена</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>