<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <alert></alert>
                <section class="panel">
                    <header class="panel-heading">
                        <div class="row">
                            <div class="col-sm-3">
                                <select class="form-control"
                                        ng-model="filter.region"
                                        ng-options="region.title for region in regions">
                                    <option value="">Выберите регион</option>
                                </select>
                            </div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                                <a href="#/cities/create" class="btn btn-primary btn-block">
                                    <i class="fa fa-plus"></i>
                                    Добавить город
                                </a>
                            </div>
                        </div>
                    </header>
                    <div class="panel-body">
                        <div ng-hide="cities.length" class="wait-32"></div>
                        <table ng-show="cities.length" class="table table-hover general-table shops-container">
                            <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Долгота</th>
                                    <th>Широта</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="city in cities | filter:{region_id:filter.region.id} track by city.id" ng-class="{'alert-danger':city.deleted_at}">
                                    <td>{{ city.title }}</td>
                                    <td>{{ city.longitude }}</td>
                                    <td>{{ city.latitude }}</td>
                                    <td>
                                        <div class="btn-group" ng-hide="city.deleted_at">
                                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                                                <i class="fa fa-cog"></i>
                                                Действия
                                                <span class="caret"></span>
                                            </button>
                                            <ul role="menu" class="dropdown-menu">
                                                <li>
                                                    <a href="#/cities/{{ city.id }}/edit">
                                                        <i class="fa fa-pencil"></i>
                                                        Редактировать
                                                    </a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                   <a ng-click="remove(city)" href="javascript:;">
                                                        <i class="fa fa-trash-o"></i>
                                                        Удалить
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button ng-show="city.deleted_at" ng-click="restore(city)" type="button" class="btn btn-danger">
                                            <i class="fa fa-reply"></i>
                                            Восстановить
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>