<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <alert></alert>
                <section class="panel">
                    <header class="panel-heading">
                        <span ng-hide="region.id">Добавить регион</span>
                        <span ng-show="region.id">Редактировать регион</span>
                    </header>
                    <div class="panel-body">
                        <div ng-hide="region" class="wait-32"></div>
                        <div class="form">
                            <form class="cmxform form-horizontal" ng-submit="save()" name="form" novalidate>
                                <div class="form-group ">
                                    <label for="region-title" class="control-label col-lg-3">Название региона *</label>
                                    <div class="col-lg-6">
                                        <input ng-model="region.title" class="form-control" name="title" id="region-title" required>
                                        <div ng-show="form.title.$dirty && form.title.$invalid">
                                            <label ng-show="form.title.$error.required" for="region-title" class="error">Введите название региона</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <button ng-hide="region.id" ng-disabled="form.$invalid" class="btn btn-primary" type="submit">Добавить</button>
                                        <button ng-show="region.id" ng-disabled="form.$invalid" class="btn btn-primary" type="submit">Сохранить</button>
                                        <a href="#/regions" class="btn btn-default">Отмена</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>