<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <alert></alert>
                <section class="panel">
                    <header class="panel-heading">
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                                <a href="#/regions/create" class="btn btn-primary btn-block">
                                    <i class="fa fa-plus"></i>
                                    Добавить регион
                                </a>
                            </div>
                        </div>
                    </header>
                    <div class="panel-body">
                        <div ng-hide="regions.length" class="wait-32"></div>
                        <table ng-show="regions.length" class="table table-hover general-table">
                            <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="region in regions track by region.id" ng-class="{'alert-danger':region.deleted_at}">
                                    <td>{{ region.title }}</td>
                                    <td>
                                        <div class="btn-group" ng-hide="region.deleted_at">
                                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                                                <i class="fa fa-cog"></i>
                                                Действия
                                                <span class="caret"></span>
                                            </button>
                                            <ul role="menu" class="dropdown-menu">
                                                <li>
                                                    <a href="#/regions/{{ region.id }}/edit">
                                                        <i class="fa fa-pencil"></i>
                                                        Редактировать
                                                    </a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                   <a ng-click="remove(region)" href="javascript:;">
                                                        <i class="fa fa-trash-o"></i>
                                                        Удалить
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button ng-show="region.deleted_at" ng-click="restore(region)" type="button" class="btn btn-danger">
                                            <i class="fa fa-reply"></i>
                                            Восстановить
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>