<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <alert></alert>
                <section class="panel">
                    <header class="panel-heading">
                        <span ng-hide="site.id">Добавить сайт</span>
                        <span ng-show="site.id">Редактировать сайт</span>
                    </header>
                    <div class="panel-body">
                        <div ng-hide="site" class="wait-32"></div>
                        <div class="form">
                            <form class="cmxform form-horizontal" ng-submit="save()" name="form" novalidate>
                                <div class="form-group">
                                    <label for="site-city" class="control-label col-lg-3">Город *</label>
                                    <div class="col-lg-4">
                                        <select class="form-control"
                                                name="city" 
                                                ng-model="site.city_id"
                                                ng-options="city.id as city.title for city in cities"
                                                required>
                                            <option value="">Выберите город</option>
                                        </select>
                                        <div ng-show="form.city.$dirty && form.city.$invalid">
                                            <label ng-show="form.city.$error.required" for="site-city" class="error">Укажите город</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="site-subdomain" class="control-label col-lg-3">Поддомен *</label>
                                    <div class="col-lg-4">
                                        <input ng-model="site.subdomain" class="form-control" name="subdomain" id="site-subdomain" ng-pattern="/^[a-z0-9-]+$/" required server-error>
                                        <div ng-show="form.subdomain.$dirty && form.subdomain.$invalid">
                                            <label ng-show="form.subdomain.$error.required" for="site-subdomain" class="error">Введите поддомен для сайта</label>
                                            <label ng-show="form.subdomain.$error.pattern" for="site-subdomain" class="error">Поддомен может содержать только латинские буквы, цифры или дефис</label>
                                            <label ng-show="form.subdomain.$error.server" for="site-subdomain" class="error">{{ form.subdomain.$error.server }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="site-title" class="control-label col-lg-3">Название сайта *</label>
                                    <div class="col-lg-6">
                                        <input ng-model="site.title" class="form-control" name="title" id="site-title" required>
                                        <div ng-show="form.title.$dirty && form.title.$invalid">
                                            <label ng-show="form.title.$error.required" for="site-title" class="error">Введите название сайта</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="site-description" class="control-label col-lg-3">Описание сайта</label>
                                    <div class="col-lg-6">
                                        <textarea ng-model="site.description" class="form-control" rows="6"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <button ng-hide="site.id" ng-disabled="form.$invalid" class="btn btn-primary" type="submit">Добавить</button>
                                        <button ng-show="site.id" ng-disabled="form.$invalid" class="btn btn-primary" type="submit">Сохранить</button>
                                        <a href="#/sites" class="btn btn-default">Отмена</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>