<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <alert></alert>
                <section class="panel">
                    <header class="panel-heading">
                        <div class="row">
                            <div class="col-sm-3">
                                <select class="form-control"
                                        ng-model="filter.region"
                                        ng-options="region.title for region in regions">
                                    <option value="">Выберите регион</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control"
                                        ng-model="filter.city"
                                        ng-options="city.title for city in cities | filter:{region_id:filter.region.id}">
                                    <option value="">Выберите город</option>
                                </select>
                            </div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                                <a href="#/sites/create" class="btn btn-primary btn-block">
                                    <i class="fa fa-plus"></i>
                                    Добавить сайт
                                </a>
                            </div>
                        </div>
                    </header>
                    <div class="panel-body">
                        <div ng-hide="sites" class="wait-32"></div>
                        <table ng-show="sites" class="table table-hover general-table shops-container">
                            <thead>
                                <tr>
                                    <th>Поддомен</th>
                                    <th>Название</th>
                                    <th>Создан</th>
                                    <th>Обновлен</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="site in sites | filter:{region_id:filter.region.id} | filter:{city_id:filter.city.id} track by site.id" ng-class="{'alert-danger':site.deleted_at}">
                                    <td>{{ site.subdomain }}</td>
                                    <td>{{ site.title }}</td>
                                    <td>{{ site.created_at | fromNow }}</td>
                                    <td>{{ site.updated_at | fromNow }}</td>
                                    <td>
                                        <div class="btn-group" ng-hide="site.deleted_at">
                                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                                                <i class="fa fa-cog"></i>
                                                Действия
                                                <span class="caret"></span>
                                            </button>
                                            <ul role="menu" class="dropdown-menu">
                                                <li>
                                                    <a href="//{{ site.subdomain }}.{{ domain }}/cms" target="_blank">
                                                        <i class="fa fa-external-link"></i>
                                                        Управление
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#/sites/{{ site.id }}/users">
                                                        <i class="fa fa-users"></i>
                                                        Администраторы
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#/sites/{{ site.id }}/edit">
                                                        <i class="fa fa-pencil"></i>
                                                        Редактировать
                                                    </a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a ng-click="remove(site)" href="javascript:;">
                                                        <i class="fa fa-trash-o"></i>
                                                        Удалить
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button ng-show="site.deleted_at" ng-click="restore(site)" type="button" class="btn btn-danger">
                                            <i class="fa fa-reply"></i>
                                            Восстановить
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>